# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
backend.conf

# Generated at deploy time by deploy-custodian.yml
policies/accounts.yml

# SSH keys
*.pem

# Archives
*.zip

# Node.js
node_modules/
npm-debug.log*

# Environment variables
.env
.env.*


# Markdown files
*.md
*.mdc
!README.md
